@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Teko", sans-serif;
  background: #f1fbff;
  width: 100%;
  min-height: 100vh;
}
/*VARIABLES CSS*/
/*Varibles en general*/
/*Colores*/
:root {
  --first-color: #4a4a4a;
  --second-color: #fff;
  --third-color: #000000;
}

/*Fuente y tipografia*/
:root {
  --body-font: "Montserrat"; /* Changed to Montserrat */
  --h1-font-size: 2rem;
}
@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 3.5rem;
  }
}

/* z-index*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*----- BASE -----*/
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: #000;
}

h1 {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 500;
}

ul {
  margin: 0;
  padding-left: 50px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*----- LAYOUT -----*/
.bd-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-tooltip);
}

.main-bg {
  height: 100vh;
}
.main-bg__hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/*----- PAGES -----*/
/*Nav*/
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  color: var(--second-color);
  transition: color 0.3s ease-in; /* Smooth transition for color change */
  margin-top: 40px;
  padding-bottom: 40px;
  font-weight: 500;
  /*Aparecer menu*/
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 85%;
    height: 85%;
    margin: auto;
    padding: 2rem;
    border: 1px solid var(--first-color);
    z-index: var(--z-fixed);
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
    padding-left: 50px;
  }
}
.nav__logo {
  transition: color 0.3s ease;
  font-family: "Barlow Semi Condensed";
  color: #fff;
  padding-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
}
.nav__logo:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

.nav__list {
  text-align: center;
  transition: color 0.3s ease;
  padding-left: 50px;
  font-size: 16px;
}

.nav__item {
  margin-bottom: 2rem;
  transition: color 0.3s ease;
  font-family: "Barlow";
  font-weight: 300;
  font-stretch: expanded;
}
.nav__link {
  padding: 0.5rem;
  color: var(--second-color);
}
.nav__link:hover {
  color: var(--first-color);
  transition: color 0.3s ease-in;
}
.nav__toggle {
  cursor: pointer;
  font-size: 1.5rem;
}
.nav .show {
  top: 3rem;
}

/*Home*/
.home {
  position: relative;
  height: 100%;
  -ms-flex-line-pack: center;
  align-content: center;
  justify-items: center;
  color: var(--third-color);
  row-gap: 2rem;
}
.home__title {
  font-size: var(--h1-font-size);
}

/*----- COMPONENTS -----*/
.button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: var(--first-color);
  color: #000;
  margin-right: 1rem;
  border-radius: 0.25rem;
}
.button--ghost {
  background-color: transparent;
  color: var(--first-color);
  border: 1.5px solid var(--first-color);
}
.button--ghost:hover {
  background-color: var(--first-color);
  color: #000;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

img {
  vertical-align: middle;
}

main {
  position: relative;
  min-height: 100%;
  padding: 8em 2em 4em;
}

.wrapper {
  width: 80%;
  padding: 30px 0;
  text-align: center;
}
.section-header {
  text-transform: uppercase;
  line-height: 70px;
  padding-bottom: 30px;
  font-size: 50px;
  color: #8c8c8c;
  letter-spacing: 2px;
}
.content {
  padding: 10%;
}
.content h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.content p {
  line-height: 1.5;
}
.main-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-main-content-gap: 25px;
  grid-column-gap: 15px;
}
.main-content .box {
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
  height: 250px;
  overflow: hidden;
}
.main-content .box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.main-content .box:hover:before {
  top: 0;
  right: calc(100% - 5px);
  z-index: 10;
}
.main-content .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .box .img-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  right: 100%;
  transition: all 0.5s ease-in-out;
  opacity: 40%;
}
.main-content .box:hover .img-text {
  top: 0;
  right: 0;
}
