@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fraunces", sans-serif;
  background: #f1fbff;
  width: 100%;
  min-height: 100vh;
}
/*VARIABLES CSS*/
/*Varibles en general*/
/*Colores*/
:root {
  --first-color: #cdcdcd;
  --second-color: #fff;
  --third-color: #000000;
}

/*Fuente y tipografia*/
:root {
  --body-font: "Montserrat"; /* Changed to Montserrat */
  --h1-font-size: 2rem;
}
@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 3.5rem;
  }
}

/* z-index*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*----- BASE -----*/
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Fraunces";
  background-color: #000;
}

h1 {
  margin: 0;
  color: #fff;
}

ul {
  margin: 0;
  padding-left: 50px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*----- LAYOUT -----*/
.bd-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-tooltip);
}

.main-bg {
  height: 100vh;
}
.main-bg__hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/*----- PAGES -----*/
/*Nav*/
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  color: var(--second-color);
  transition: color 0.3s ease-in; /* Smooth transition for color change */
  padding-top: 40px;
  background-color: #000;
  padding-bottom: 40px;
  /*Aparecer menu*/
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 85%;
    height: 85%;
    margin: auto;
    padding: 2rem;
    border: 1px solid var(--first-color);
    z-index: var(--z-fixed);
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
    font-weight: 100;
    padding-left: 50px;
  }
}

.nav__logo {
  color: #f2dd8f;
  transition: color 0.3s ease;
  padding-bottom: 20px;
  font-family: "Fraunces";
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav__logo:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

.nav__list {
  text-align: center;
  transition: color 0.3s ease;
  padding-left: 50px;
  font-family: "Fraunces";
  font-weight: 300;
  font-size: 16px;
  font-stretch: ultra-expanded;
  letter-spacing: 1px;
  color: #fff;
}

.nav__item {
  margin-bottom: 2rem;
  transition: color 0.3s ease;
}

.nav__link {
  padding: 0.5rem;
  color: var(--second-color);
  transition: color 0.3s ease;
}
.nav__link:hover {
  color: var(--first-color);
  transition: color 0.3s ease-in;
}
.nav__toggle {
  cursor: pointer;
  font-size: 1.5rem;
}
.nav .show {
  top: 3rem;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
}

/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

img {
  vertical-align: middle;
}

iframe {
  vertical-align: middle;
}

main {
  position: relative;
  min-height: 100%;
  padding: 8em 2em 4em;
}

.wrapper {
  width: 80%;
  padding: 30px 0;
  text-align: center;
  padding-top: 100px;
}
.section-header {
  text-transform: uppercase;
  line-height: 70px;
  padding-bottom: 30px;
  font-size: 50px;
  color: var(--first-color);
  letter-spacing: 2px;
}
.content {
  padding: 10%;
}
.content h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.content p {
  line-height: 1.5;
}
.main-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr; /* Change this line to create a single column */
  grid-row-gap: 20px; /* Use grid-row-gap for spacing between rows */
}

.main-content .box {
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
  height: 70vh; /* Allow height to adjust based on content */
  overflow: hidden;
  display: flex; /* Flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
}

.main-content .box img {
  max-width: 100%; /* Ensure image does not exceed box width */
  max-height: 100%; /* Ensure image does not exceed box height */
  height: 100%;
  object-fit: contain; /* Keep the image aspect ratio */
  margin: auto;
  display: block;
}

.main-content .box iframe {
  max-width: 100%; /* Ensure image does not exceed box width */
  max-height: 100%; /* Ensure image does not exceed box height */
  height: 100%;
  object-fit: contain; /* Keep the image aspect ratio */
  margin: auto;
  display: block;
}
